body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .background-image {
    background-image: url('https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1704326400&semt=sph'); /* Replace with the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for the form */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  h1 {
    color: #333; /* Heading color */
  }
  
  label {
    display: block;
    margin: 10px 0;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #4CAF50; /* Submit button color */
    color: white;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  