.nav-list {
    list-style: none;
    display: flex;
  }
  
  .more-button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .more-button:hover {
    background-color: #2980b9;
  }
  